<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{% trans "Internationalized templates" %}</title>
</head>
<body>

<div id="header">
	<h1>{{  _("Internationalized templates") }}</h1>

	{% trans "Select languages" %}
	
	<a href="?lang=en">{% trans "English" %}</a> |
	<a href="?lang=fi">{% trans "Finish"%} </a> |
	<a href="?lang=fr">{% trans "French: %}</a> |
	<a href="?lang=de">{% trans "German: %}</a>

  <p>
{% blocktrans %}
    (software engineering) The act or process of making a product suitable for 
    international markets, typically by making text messages easily translatable 
    and ensuring support of non-Latin character sets.
{% endblocktrans %}
	</p>

</div>


<div id="content">
  <h2>{% trans "Pluralization support" %}</h2>
    <p>
	{% blocktrans count=users.length %}
	    there is one {{ count }} item.
	{% plural %}
	    there are number of {{ count }} items.
	{% endblocktrans %}
	</p>
	
	<ul>
	{% for index, user in users %}
	    {{ user.username }} - {{ user.tasks.length }}
	<li style="color:{% cycle 'grey', 'pink' %}">
	    {{ index }}
		{% blocktrans count=user.tasks.length, name=user.username|capitalize %}
		    {{ name }} has {{ count }} task
		{% plural %}
		    {{ name }} has {{ count }} tasks
		{% endblocktrans %}
	
		<ol>
		{% for task in user.tasks %}
		   <li>{{ task }}</li>
		{% endfor %}
		</ol>
	</li>
	{% endfor %}
	</ul>
</div>

<div id="footer">
    
</div>
</body>
</html>
